<!DOCTYPE html>
<!--[if IE 9 ]> <html lang="vi" class="ie9 loading-site no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="vi" class="ie8 loading-site no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="vi" class="loading-site no-js">
<!--<![endif]-->
<!-- Mirrored from lamdepz.com/cat/my-pham-duong-da/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Jun 2021 08:15:41 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <link rel="stylesheet" href="~/wwwroot/css/style.css">
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="../../xmlrpc.php" />

    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
    <meta name='robots' content='max-image-preview:large' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- This site is optimized with the Yoast SEO Premium plugin v15.5 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Lưu trữ Mỹ phẩm dưỡng da - Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="index.html" />
    <link rel="next" href="danh-muc.html" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Lưu trữ Mỹ phẩm dưỡng da - Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com" />
    <meta property="og:url" content="https://lamdepz.com/cat/my-pham-duong-da/" />
    <meta property="og:site_name" content="Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    @*    <script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://lamdepz.com/#website","url":"https://lamdepz.com/","name":"M\u1ef9 ph\u1ea9m ch\u00ednh h\u00e3ng H\u00e0n Qu\u1ed1c - LamdepZ.com","description":"","potentialAction":[{"@type":"SearchAction","target":"https://lamdepz.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"vi"},{"@type":"CollectionPage","@id":"https://lamdepz.com/cat/my-pham-duong-da/#webpage","url":"https://lamdepz.com/cat/my-pham-duong-da/","name":"L\u01b0u tr\u1eef M\u1ef9 ph\u1ea9m d\u01b0\u1ee1ng da - M\u1ef9 ph\u1ea9m ch\u00ednh h\u00e3ng H\u00e0n Qu\u1ed1c - LamdepZ.com","isPartOf":{"@id":"https://lamdepz.com/#website"},"inLanguage":"vi","potentialAction":[{"@type":"ReadAction","target":["https://lamdepz.com/cat/my-pham-duong-da/"]}]}]}</script>
    *@   <!-- / Yoast SEO Premium plugin. -->


    <link rel='dns-prefetch' href='http://cdn.jsdelivr.net/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com &raquo;" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com &raquo;" href="../../comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Nguồn cấp Mỹ phẩm chính hãng Hàn Quốc - LamdepZ.com &raquo; Mỹ phẩm dưỡng da Danh mục" href="feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/lamdepz.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2" } };
        !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dashicons-css' href='~/wwwroot/css/dashicons.min9f31.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='menu-icons-extra-css' href='~/wwwroot/css/extra.min9fd1.css?ver=0.12.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/wwwroot/css/dist/block-library/style.min9f31.css?ver=5.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-vendors-style-css' href='~/wwwroot/css/woocommerce-blocks/build/vendors-style7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-style-css' href='~/wwwroot/css/woocommerce-blocks/build/style7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/wwwroot/css/styles9dff.css?ver=5.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='ot-vertical-menu-css-css' href='~/wwwroot/css/style9632.css?ver=1.2.3' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' type='text/css' />
    <link rel='stylesheet' id='flatsome-icons-css' href='~/wwwroot/css/fl-iconsae34.css?ver=3.12' type='text/css' media='all' />
    <link rel='stylesheet' id='bfa-font-awesome-css' href='../cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min1849.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-main-css' href='~/wwwroot/css/flatsome29161.css?ver=3.13.1' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-shop-css' href='~/wwwroot/css/flatsome-shop2916.css?ver=3.13.1' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-style-css' href='~/wwwroot/css/style6aec.css?ver=3.0' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-googlefonts-css' href='http://fonts.googleapis.com/css?family=Roboto%3Aregular%2C700%2Cregular%2C500%7CDancing+Script%3Aregular%2C400&amp;display=swap&amp;ver=3.9' type='text/css' media='all' />
    <script type='text/javascript' src='~/wwwroot/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/jquery/jquery-migrate.mind617.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <link rel="https://api.w.org/" href="../../wp-json/index.html" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.7.2" />
    <meta name="generator" content="WooCommerce 4.8.0" />
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style><!--[if IE]><link rel="stylesheet" type="text/css" href="https://lamdepz.com/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="https://lamdepz.com/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->
    <meta name="google-site-verification" content="zWzGGXi7jE3nIlKDSQCz0SXok4AK0QAS_6jVqYtR8CI" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P2DWW6S');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 376739624 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-376739624"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-376739624');
    </script>

    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <link rel="icon" href="~/wwwroot/images/2021/03/cropped-logo-ico-small-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/wwwroot/images/2021/03/cropped-logo-ico-small-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/wwwroot/images/2021/03/cropped-logo-ico-small-1-180x180.png" />
    <meta name="msapplication-TileImage" content="https://lamdepz.com/wp-content/uploads/2021/03/cropped-logo-ico-small-1-270x270.png" />
    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #326e51;
        }

        .full-width .ubermenu-nav, .container, .row {
            max-width: 1310px
        }

            .row.row-collapse {
                max-width: 1280px
            }

            .row.row-small {
                max-width: 1302.5px
            }

            .row.row-large {
                max-width: 1340px
            }

        .header-main {
            height: 100px
        }

        #logo img {
            max-height: 100px
        }

        #logo {
            width: 200px;
        }

            #logo img {
                padding: 7px 0;
            }

        .header-bottom {
            min-height: 39px
        }

        .header-top {
            min-height: 29px
        }

        .transparent .header-main {
            height: 30px
        }

        .transparent #logo img {
            max-height: 30px
        }

        .has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 80px;
        }

        .header.show-on-scroll, .stuck .header-main {
            height: 45px !important
        }

        .stuck #logo img {
            max-height: 45px !important
        }

        .header-bottom {
            background-color: #326e51
        }

        .header-main .nav > li > a {
            line-height: 16px
        }

        .stuck .header-main .nav > li > a {
            line-height: 5px
        }

        @@media (max-width: 549px) {
            .header-main {
                height: 70px
            }

            #logo img {
                max-height: 70px
            }
        }

        .header-top {
            background-color: #f9f9f9 !important;
        }
        /* Color */

        .accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
            color: #326e51;
        }
        /* Color !important */

        [data-text-color="primary"] {
            color: #326e51 !important;
        }
        /* Background Color */

        [data-text-bg="primary"] {
            background-color: #326e51;
        }
        /* Background */

        .scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
            background-color: #326e51;
        }
            /* Border */

            .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                border-color: #326e51
            }

        .nav-tabs > li.active > a {
            border-top-color: #326e51
        }

        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #326e51
        }

        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #326e51
        }
        /* Fill */

        .slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
            fill: #326e51;
        }
        /* Background Color */

        [data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button, .current .breadcrumb-step {
            background-color: #326e51;
        }

        [data-text-bg="secondary"] {
            background-color: #326e51;
        }
        /* Color */

        .secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
            color: #326e51
        }
        /* Color !important */

        [data-text-color="secondary"] {
            color: #326e51 !important;
        }
        /* Border */

        .secondary.is-outline:hover {
            border-color: #326e51
        }

        @@media screen and (max-width: 549px) {
            body {
                font-size: 100%;
            }
        }

        body {
            font-family: "Roboto", sans-serif
        }

        body {
            font-weight: 0;
        }

        body {
            color: #303030
        }

        .nav > li > a {
            font-family: "Roboto", sans-serif;
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-family: "Roboto", sans-serif;
        }

        .nav > li > a {
            font-weight: 500;
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-weight: 500;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Roboto", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
            font-weight: 700;
        }

        h1, h2, h3, h4, h5, h6, .heading-font {
            color: #0a0a0a;
        }

        .alt-font {
            font-family: "Dancing Script", sans-serif;
        }

        .alt-font {
            font-weight: 400 !important;
        }

        .products.has-equal-box-heights .box-image {
            padding-top: 100%;
        }

        @@media screen and (min-width: 550px) {
            .products .box-vertical .box-image {
                min-width: 247px !important;
                width: 247px !important;
            }
        }
        .categorycustom{
            text-transform:lowercase;
        }
        .categorycustom::first-letter {
            text-transform: uppercase !important;

        }

        .absolute-footer, html {
            background-color: #2e2e2e
        }

        .page-title-small + main .product-container > .row {
            padding-top: 0;
        }

        .label-new.menu-item > a:after {
            content: "New";
        }

        .label-hot.menu-item > a:after {
            content: "Hot";
        }

        .label-sale.menu-item > a:after {
            content: "Sale";
        }

        .label-popular.menu-item > a:after {
            content: "Popular";
        }
    </style>
    <style type="text/css" id="wp-custom-css">
        .header-bottom .nav > li > a {
            color: #fff
        }
    </style>
    <script>
        jQuery(document).ready(function () {
            jQuery('p').each(function () {
                var $this = jQuery(this);
                if ($this.html().replace(/\s|&nbsp;/g, '').length == 0)
                    $this.remove();
            });
        });
    </script>
</head>

<body class="archive tax-product_cat term-my-pham-duong-da term-144 theme-flatsome ot-vertical-menu ot-menu-show-home woocommerce woocommerce-page woocommerce-no-js header-shadow lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2DWW6S"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <div id="wrapper">


        <header id="header" class="header has-sticky sticky-jump">
            <div class="header-wrapper">
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="@Url.Action("Index", "Home")" title="Mỹ phẩm chính hãng Hàn Quốc &#8211; LamdepZ.com" rel="home">
                                <img width="200" height="100" src="~/wwwroot/images/2021/03/logo-full-1.png" class="header_logo header-logo" alt="Mỹ phẩm chính hãng Hàn Quốc &#8211; LamdepZ.com" /><img width="200" height="100" src="images/2021/03/logo-full-1.png"
                                                                                                                                                                                                          class="header-logo-dark" alt="Mỹ phẩm chính hãng Hàn Quốc &#8211; LamdepZ.com" />
                            </a>
                        </div>

                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">

                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
		flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                <li class="header-block">
                                    <div class="header-block-block-1">
                                        <div class="row" id="row-638171228">


                                            <div id="col-1985128757" class="col medium-9 small-12 large-9">
                                                <div class="col-inner">



                                                    <div id="gap-1709586912" class="gap-element clearfix" style="display:block; height:auto;">

                                                        <style>
                                                            #gap-1709586912 {
                                                                padding-top: 13px;
                                                            }
                                                        </style>
                                                    </div>

                                                    <div class="searchform-wrapper ux-search-box relative is-normal">
                                                        <form style="display: flex; flex-direction: row" method="post" action="@Url.Action("TimKiem", "Home")">
                                                            <input type="text" class="form-control  input-search" placeholder="Nhập từ khóa tìm kiếm" aria-label="search"
                                                                   aria-describedby="search" name="strSearch">
                                                            <button style="width: 150px; margin-right: 0px; color: #fff" type="submit">Tìm kiếm</button>
                                                        </form>
                                                    </div>
                                                    @*<div class="searchform-wrapper ux-search-box relative is-normal">
                                                            <form role="search" method="get" class="searchform" action="">
                                                                <div class="flex-row relative">
                                                                    <div class="flex-col flex-grow">
                                                                        <label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
                                                                        <input type="search" id="woocommerce-product-search-field-0" class="search-field mb-0" placeholder="Bạn cần tìm gì ..." value="" name="s" />
                                                                        <input type="hidden" name="post_type" value="product" />
                                                                    </div>
                                                                    <div class="flex-col">
                                                                        <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0">
                                                                            <i class="icon-search"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="live-search-results text-left z-top"></div>
                                                            </form>
                                                        </div>*@


                                                </div>
                                            </div>



                                            <div id="col-399442833" class="col medium-3 small-12 large-3">
                                                <div class="col-inner">



                                                    <div id="gap-567640207" class="gap-element clearfix" style="display:block; height:auto;">


                                                        <style>
                                                            #gap-567640207 {
                                                                padding-top: 15px;
                                                            }
                                                        </style>
                                                    </div>



                                                    <div class="flex-col hide-for-medium flex-left">
                                                        @if (Session["Email"] != null)
                                                        {
                                                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                                                <li class="cart-item has-icon has-dropdown">
                                                                    <a href="@Url.Action("ThongTinTaiKhoan", "TaiKhoan", new { id = Session["idUser"] })" class="header-cart-link is-small">
                                                                        @if (Session["HoTen"] != null)
                                                                        {
                                                                            <span class="header-cart-title">@Session["HoTen"]</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="header-cart-title">@Session["Email"]</span>
                                                                        }

                                                                        @if (Session["Anh"] != null)
                                                                        {
                                                                            string img = "~/wwwroot/images/user/" + @Session["Anh"];
                                                                            <span class="image-icon header-cart-icon" data-icon-label="0">
                                                                                <img class="cart-img-icon rounded-pill" style="width:40px; height:40px" alt="Đăng nhập" src="@Url.Content(img)" />
                                                                            </span>
                                                                        }
                                                                    </a>
                                                                    <ul class="nav-dropdown nav-dropdown-default">
                                                                        <div class="widget_shopping_cart_content">
                                                                            <div><a href="@Url.Action("ThongTinTaiKhoan", "TaiKhoan", new { id = Session["idUser"] })" class="dropdown-item" title="Thông tin tài khoản">Thông tin tài khoản</a><br></div>
                                                                            <div>
                                                                                <a href="@Url.Action("DangXuat", "TaiKhoan")" class="dropdown-item" title="Đăng xuất">Đăng xuất</a>
                                                                                @*@Html.ActionLink("DangXuat", "DangXuat", "Home", htmlAttributes: new { @style = "font-size:small;color:black" })*@
                                                                            </div>
                                                                        </div>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <ul class="nav navbar-nav navbar-right ">
                                                                <li class="nav-item">
                                                                    <a class="navbar-link header-cart-link" href="@Url.Action("DangKy", "TaiKhoan")">
                                                                        <span class="glyphicon glyphicon-user"></span> <span class="header-cart-title">Đăng ký</span>
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="navbar-link header-cart-link" href="@Url.Action("DangNhap", "TaiKhoan")">
                                                                        <span class="glyphicon glyphicon-log-in"></span> <span class="header-cart-title">Đăng nhập</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right" style="padding: 15px 15px 25px;">
                            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
                                <li class="cart-item has-icon has-dropdown">

                                    <a href="@Url.Action("Index", "GioHang")" title="Giỏ hàng" class="header-cart-link is-small">
                                        @{ int SL = 0;
                                            if (Session["SoLuong"] != null)
                                            {
                                                SL = (int)Session["SoLuong"];
                                            } }
                                        <span class="image-icon header-cart-icon" data-icon-label="@SL" >
                                            <img class="cart-img-icon" alt="Giỏ hàng" src="~/wwwroot/images/icon_01.png" />
                                        </span>
                                    </a>
                                    <ul class="nav-dropdown nav-dropdown-default" style="">
                                        @if (Session["SoLuong"] != null)
                                        {
                                        <li class="html widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                @{ 
                                                    List<MyPham.Models.Gio> hang = (List<MyPham.Models.Gio>)Session["GioHang"];
                                                    double TongTien = 0;
                                                }

                                                @foreach (var item in hang) {
                                                    double giagiam = (Convert.ToDouble(@item.sanPham.Gia) - Convert.ToDouble(@item.sanPham.Gia) * (@item.sanPham.GiamGia.HasValue ? @item.sanPham.GiamGia.Value : 0.0));
                                                    String imagePath = "~/wwwroot/images/SanPham/" + item.sanPham.AnhSP;
                                                    giagiam = Math.Round(giagiam / 1000) * 1000;
                                                    TongTien += giagiam * item.soLuong;
                                                <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                    <li class="woocommerce-mini-cart-item mini_cart_item">
                                                        @*<a href="" class="remove remove_from_cart_button" aria-label="Xóa sản phẩm này" data-product_id="6991" data-cart_item_key="0394ea68951e3299bcdfa75a097d7c11" data-product_sku="9677548ee4ee">×</a>*@											
                                                        <a href="@Url.Action("SanPham","SanPham", new { id = item.sanPham.MaSP })">
                                                            <img width="247" height="247" src="@Url.Content(imagePath)" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" sizes="(max-width: 247px) 100vw, 247px">@item.sanPham.TenSP
                                                        </a>
                                                        <span class="quantity">@item.soLuong × <span class="woocommerce-Price-amount amount"><bdi>@String.Format("{0:#,###}", giagiam)<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span></span>
                                                    </li>
                                                </ul>
                                                                }
                                                <p class="woocommerce-mini-cart__total total">
                                                    <strong>Tổng :</strong> <span class="woocommerce-Price-amount amount"><bdi>@String.Format("{0:#,###}", TongTien)<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span>
                                                </p>


                                                <p class="woocommerce-mini-cart__buttons buttons"><a href="@Url.Action("Index", "GioHang")" class="button wc-forward">Xem giỏ hàng</a><a href="@Url.Action("ThanhToan","GioHang")" class="button checkout wc-forward">Thanh toán</a></p>



                                            </div>
                                        </li>}
                                        else
                                        {
                                            <p>Chưa có sản phẩm nào trong giỏ hàng</p>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="cart-item has-icon">

                                    <a href="gio-hang/index.html" class="header-cart-link off-canvas-toggle nav-top-link is-small" data-open="#cart-popup" data-class="off-canvas-cart" title="Giỏ hàng" data-pos="right">

                                        <span class="image-icon header-cart-icon" data-icon-label="0">
                                            <img class="cart-img-icon" alt="Giỏ hàng" src="~/wwwroot/images/icon_01.png" />
                                        </span>
                                    </a>


                                    <!-- Cart Sidebar Popup -->
                                    <div id="cart-popup" class="mfp-hide widget_shopping_cart">
                                        <div class="cart-popup-inner inner-padding">
                                            <div class="cart-popup-title text-center">
                                                <h4 class="uppercase">Giỏ hàng</h4>
                                                <div class="is-divider"></div>
                                            </div>
                                            <div class="widget_shopping_cart_content">


                                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>


                                            </div>
                                            <div class="cart-sidebar-content relative"></div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div id="wide-nav" class="header-bottom wide-nav flex-has-center hide-for-medium">
                    <div class="flex-row container">

                        @{ Html.RenderAction("_Nav", "Home"); }

                        <div class="flex-col hide-for-medium flex-center">
                            <ul class="nav header-nav header-bottom-nav nav-center  nav-uppercase">
                                <li id="menu-item-12688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12652 current_page_item menu-item-12688 active menu-item-design-default"><a href="@Url.Action("Index","Home")" aria-current="page" class="nav-top-link">Trang chủ</a></li>

                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-right flex-grow">
                            <ul class="nav header-nav header-bottom-nav nav-right  nav-uppercase">
                            </ul>
                        </div>


                    </div>
                </div>

                <div class="header-bg-container fill">
                    <div class="header-bg-image fill"></div>
                    <div class="header-bg-color fill"></div>
                </div>
            </div>
        </header>
        <main id="main" class="">
            @RenderBody()
        </main>
        <footer id="footer" class="footer-wrapper">

            <section class="section section-footer-icon" id="section_414966629">
                <div class="bg section-bg fill bg-fill  bg-loaded">





                </div>

                <div class="section-content relative">


                    <div class="row row-small" id="row-1018405275">


                        <div id="col-219708935" class="col div-no-padding medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 60px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="96" height="96" src="~/wwwroot/images/icons8-question-mark-96-5.png" class="attachment-medium size-medium" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <h3>HỎI ĐÁP</h3>
                                        Mua Hàng Online

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-392860383" class="col div-no-padding medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 60px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="100" height="100" src="~/wwwroot/images/icons8-synchronize-100.png" class="attachment-medium size-medium" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <h3>ĐỔI TRẢ HÀNG</h3>
                                        Đổi trả trong 30 ngày

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-896859309" class="col div-no-padding medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 60px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="100" height="100" src="~/wwwroot/images/icons8-in-transit-filled-100-1.png" class="attachment-medium size-medium" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <h3>GH NHANH CHÓNG</h3>
                                        Vận Chuyển Toàn Quốc

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-94110211" class="col div-no-padding medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 60px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="100" height="100" src="~/wwwroot/images/icons8-handshake-filled-100.png" class="attachment-medium size-medium" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">

                                        <h3>HỢP TÁC ĐẠI LÝ</h3>
                                    </div>
                                </div>



                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_414966629 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        background-color: rgb(247, 247, 247);
                    }
                </style>
            </section>

            <section class="section footer-section dark" id="section_1941620001">
                <div class="bg section-bg fill bg-fill  bg-loaded">





                </div>

                <div class="section-content relative">


                    <div class="row row1" id="row-1098278413">


                        <div id="col-227801162" class="col medium-6 small-12 large-6">
                            <div class="col-inner">


                                <div class="thong-tin">
                                    <h4>FANPAGE FACEBOOK</h4>
                                    <ul>
                                        <li><strong>Hotline: 0868.944.268</strong></li>
                                    </ul>
                                    <ul class="textaddressfooter">
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>Thời gian phục vụ: <span style="font-weight: bold; font-style: italic;">8h-22h</span></li>
                                        <li><i class="fa fa-home" aria-hidden="true"></i>Địa chỉ HN: Khu đô thị Xa La, Hà Đông, Hà Nội, Việt Nam</li>
                                        <li><i class="fa fa-home" aria-hidden="true"></i>Website:lamdepz.com</li>
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i>Email: lamdepz.com@gmail.com</li>
                                    </ul>
                                </div>
                                <div id="gap-199007862" class="gap-element clearfix" style="display:block; height:auto;">

                                    <style>
                                        #gap-199007862 {
                                            padding-top: 12px;
                                        }
                                    </style>
                                </div>


                            </div>
                        </div>



                        <div id="col-1651510870" class="col medium-3 small-12 large-3">
                            <div class="col-inner">


                                <h4 class="tt_footer text-uppercase">HỖ TRỢ KHÁCH HÀNG</h4>
                                <ul>
                                    <li><a href="#">Giới thiệu về lamdepZ</a></li>
                                    <li><span style="font-size: 95%;"><a href="#">Hướng dẫn đặt hàng</a></span></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>



                        <div id="col-970052033" class="col medium-3 small-12 large-3">
                            <div class="col-inner">


                                <h4 class="tt_footer text-uppercase">CHÍNH SÁCH VÀ QUY ĐỊNH</h4>
                                <ul>
                                    <li><a href="#">Chính sách bảo hành</a></li>
                                    <li><a href="#">Chính sách đổi trả</a></li>
                                    <li><a href="#">Chính sách bảo mật</a></li>
                                    <li><a href="#">Chính sách vận chuyển</a></li>
                                    <li><a href="#">Chính sách thanh toán</a></li>
                                </ul>
                                <div class="row row-small" id="row-1103058738">


                                    <div id="col-479176919" class="col medium-6 small-12 large-6">
                                        <div class="col-inner">



                                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_927966336">
                                                <div class="img-inner dark">

                                                </div>

                                                <style>
                                                    #image_927966336 {
                                                        width: 100%;
                                                    }
                                                </style>
                                            </div>


                                        </div>
                                    </div>



                                    <div id="col-2061438404" class="col medium-6 small-12 large-6">
                                        <div class="col-inner">



                                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1199211836">
                                                <div class="img-inner dark">

                                                </div>

                                                <style>
                                                    #image_1199211836 {
                                                        width: 100%;
                                                    }
                                                </style>
                                            </div>


                                            <div id="gap-2128210489" class="gap-element clearfix" style="display:block; height:auto;">

                                                <style>
                                                    #gap-2128210489 {
                                                        padding-top: 11px;
                                                    }
                                                </style>
                                            </div>


                                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1341376426">
                                                <div class="img-inner dark">

                                                </div>

                                                <style>
                                                    #image_1341376426 {
                                                        width: 100%;
                                                    }
                                                </style>
                                            </div>


                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_1941620001 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        background-color: rgb(56, 64, 70);
                    }
                </style>
            </section>

            <div class="absolute-footer dark medium-text-center text-center">
                <div class="container clearfix">



                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            *Lưu ý: tác dụng của thuốc/ phuơng pháp/ sản phẩm có thể thay đổi tùy theo tình trạng thể chất mỗi nguời.
                        </div>
                    </div>
                </div>
            </div>
            <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link"><i class="icon-angle-up"></i></a>

        </footer>

    </div>

    @*    <script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Trang ch\u1ee7","@id":"https:\/\/lamdepz.com"}},{"@type":"ListItem","position":2,"item":{"name":"M\u1ef9 ph\u1ea9m d\u01b0\u1ee1ng da","@id":"https:\/\/lamdepz.com\/cat\/my-pham-duong-da\/"}}]}</script>
    *@
    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })()
    </script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/lamdepz.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/scripts9dff.js?ver=5.3.2' id='contact-form-7-js'></script>
    <script type='text/javascript' src='~/wwwroot/vendor/superfish/hoverIntent9632.js?ver=1.2.3' id='ot-hoverIntent-js'></script>
    <script type='text/javascript' src='~/wwwroot/vendor/superfish/superfish.min9632.js?ver=1.2.3' id='ot-superfish-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/ot-vertical-menu.min9632.js?ver=1.2.3' id='ot-vertical-menu-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70' id='jquery-blockui-js'></script>
    <script type='text/javascript' id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng", "cart_url": "https:\/\/lamdepz.com\/gio-hang\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/frontend/add-to-cart.min287d.js?ver=4.8.0' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4' id='js-cookie-js'></script>
    <script type='text/javascript' id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/frontend/woocommerce.min287d.js?ver=4.8.0' id='woocommerce-js'></script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_20759e0fdadc70a5e982a35e9a493c12", "fragment_name": "wc_fragments_20759e0fdadc70a5e982a35e9a493c12", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/frontend/cart-fragments.min287d.js?ver=4.8.0' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/hoverIntent.minc245.js?ver=1.8.1' id='hoverIntent-js'></script>
    <script type='text/javascript' id='flatsome-js-js-extra'>
        /* <![CDATA[ */
        var flatsomeVars = { "ajaxurl": "https:\/\/lamdepz.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "45", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/flatsome2916.js?ver=3.13.1' id='flatsome-js-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/flatsome-lazy-load2916.js?ver=3.13.1' id='flatsome-lazy-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/woocommerce2916.js?ver=3.13.1' id='flatsome-theme-woocommerce-js-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/wp-embed.min9f31.js?ver=5.7.2' id='wp-embed-js'></script>
    <script type='text/javascript' id='zxcvbn-async-js-extra'>
        /* <![CDATA[ */
        var _zxcvbnSettings = { "src": "https:\/\/lamdepz.com\/wp-includes\/js\/zxcvbn.min.js" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/zxcvbn-async.min5152.js?ver=1.0' id='zxcvbn-async-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/dist/vendor/wp-polyfill.min89b1.js?ver=7.4.4' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='wp-polyfill-js-after'>
        ('fetch' in window) || document.write('<script src="js/dist/vendor/wp-polyfill-fetch.min6e0e.js?ver=3.0.0"></scr' + 'ipt>'); (document.contains) || document.write('<script src="js/dist/vendor/wp-polyfill-node-contains.min2e00.js?ver=3.42.0"></scr' + 'ipt>'); (window.DOMRect) || document.write('<script src="js/dist/vendor/wp-polyfill-dom-rect.min2e00.js?ver=3.42.0"></scr' + 'ipt>'); (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="js/dist/vendor/wp-polyfill-url.min5aed.js?ver=3.6.4"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="js/dist/vendor/wp-polyfill-formdata.mine9bd.js?ver=3.0.12"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.0.2"></scr' + 'ipt>'); ('objectFit' in document.documentElement.style) || document.write('<script src="js/dist/vendor/wp-polyfill-object-fit.min531b.js?ver=2.3.4"></scr' + 'ipt>');
    </script>
    <script type='text/javascript' src='~/wwwroot/js/dist/hooks.minf521.js?ver=50e23bed88bcb9e6e14023e9961698c1' id='wp-hooks-js'></script>
    <script type='text/javascript' src='~/wwwroot/js/dist/i18n.min87d6.js?ver=db9a9a37da262883343e941c3731bc67' id='wp-i18n-js'></script>
    <script type='text/javascript' id='wp-i18n-js-after'>
        wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
    </script>
    <script type='text/javascript' id='password-strength-meter-js-extra'>
        /* <![CDATA[ */
        var pwsL10n = { "unknown": "M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh", "short": "R\u1ea5t y\u1ebfu", "bad": "Y\u1ebfu", "good": "Trung b\u00ecnh", "strong": "M\u1ea1nh", "mismatch": "M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp" };
        /* ]]> */
    </script>
    <script type='text/javascript' id='password-strength-meter-js-translations'>
        (function (domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", { "translation-revision-date": "2021-05-13 14:44:15+0000", "generator": "GlotPress\/3.0.0-alpha.2", "domain": "messages", "locale_data": { "messages": { "": { "domain": "messages", "plural-forms": "nplurals=1; plural=0;", "lang": "vi_VN" }, "%1$s is deprecated since version %2$s! Use %3$s instead. Please consider writing more inclusive code.": ["%1$s \u0111\u00e3 ng\u1eebng ho\u1ea1t \u0111\u1ed9ng t\u1eeb phi\u00ean b\u1ea3n %2$s! S\u1eed d\u1ee5ng thay th\u1ebf b\u1eb1ng %3$s."] } }, "comment": { "reference": "wp-admin\/js\/password-strength-meter.js" } });
    </script>
    <script type='text/javascript' src='~/wwwroot/js/password-strength-meter.min9f31.js?ver=5.7.2' id='password-strength-meter-js'></script>
    <script type='text/javascript' id='wc-password-strength-meter-js-extra'>
        /* <![CDATA[ */
        var wc_password_strength_meter_params = { "min_password_strength": "3", "stop_checkout": "", "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.", "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )." };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wwwroot/js/frontend/password-strength-meter.min287d.js?ver=4.8.0' id='wc-password-strength-meter-js'></script>

</body>

<!-- Mirrored from lamdepz.com/cat/my-pham-duong-da/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Jun 2021 08:15:41 GMT -->
</html>
