@model MyPham.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="mr-md-3 mr-xl-5">
                            <h2>Xin chào, Admin</h2>
                            <div class="d-flex">
                                <i class="mdi mdi-home text-muted hover-cursor"></i>
                                <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Quản lý sản phẩm&nbsp;&nbsp;/&nbsp;Thêm sản phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm mới sản phẩm</h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Nhập thông tin sản phẩm
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.AnhSP)</label>
                                    <div class="col-sm-9 d-flex justify-content-center align-items-center">
                                        <img id="output" class="img-rounded" alt="Ảnh" width="150" height="auto"
                                             src="~/wwwroot/images/user/user.png" />
                                        <br />
                                        <label for="ufile" style="cursor: pointer; text-transform: none;" class="btn btn-sm btn-primary ml-2">Chọn tệp</label>
                                        <input name="ImageFile" id="ufile" type="file" style="display: none;" onchange="loadFile(event)" />


                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.MaDM)</label>
                                    <div class="col-sm-9">

                                        @Html.DropDownList("MaDM", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaDM, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.TenSP)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.Gia)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.SoLuongTon)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.ThuongHieu)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ThuongHieu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ThuongHieu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.XuatXu)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.XuatXu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.XuatXu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.DungTich)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.DungTich, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DungTich, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.HangSX)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.HangSX, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HangSX, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.TrongLuong)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.TrongLuong, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TrongLuong, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.ChatLieu)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ChatLieu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ChatLieu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.ThanhPhan)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ThanhPhan, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ThanhPhan, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.CongDung)</label>
                                    <div class="col-sm-9">

                                        @Html.EditorFor(model => model.CongDung, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CongDung, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.HuongDanSD)</label>
                                    <div class="col-sm-9">

                                        @Html.EditorFor(model => model.HuongDanSD, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HuongDanSD, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.QuyCachDongGoi)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.QuyCachDongGoi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.QuyCachDongGoi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">@Html.LabelFor(model => model.GiamGia)</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.GiamGia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GiamGia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <a class="nav-link mr-2" href="@Url.Action("Index","SanPhams")">
                                <span class="menu-title btn btn-outline-danger btn-fw">Quay lại</span>
                            </a>
                            <div class="nav-link ml-2">
                                <input type="submit" value="Thêm" class="btn btn-default menu-title btn btn-outline-success btn-fw" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert  alert-danger" role="alert">@ViewBag.Error</div>
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>