
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MyPham.Models.SanPham> DuongDa = ViewBag.DuongDa;
    List<MyPham.Models.SanPham> Son = ViewBag.Son;
    List<MyPham.Models.SanPham> TrangDiem = ViewBag.TrangDiem;
}
<div id="content" class="content-area page-wrapper" role="main">
    <div class="row row-main">
        <div class="large-12 col">
            <div class="col-inner">


                <section class="section" id="section_1326188305">
                    <div class="bg section-bg fill bg-fill  bg-loaded">
                    </div>
                    <div class="section-content relative">
                        <div class="row row-collapse slider-row" id="row-1720902744">
                            <div id="col-521545051" class="col hide-for-medium medium-3 small-12 large-3">
                                <div class="col-inner">
                                </div>
                            </div>
                            <div id="col-1050583060" class="col medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <div class="slider-wrapper relative" id="slider-1805072704">
                                        <div class="slider slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal" data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'>

                                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1157468126">
                                                <div class="img-inner dark">
                                                    <img width="900" height="447" src="~/wwwroot/images/img/banner-kem-22-again.jpg" class="lazy-load attachment-original size-original"
                                                         alt="" loading="lazy" 
                                                         sizes="(max-width: 900px) 100vw, 900px" />
                                                </div>

                                                <style>
                                                    #image_1157468126 {
                                                        width: 100%;
                                                    }
                                                </style>
                                            </div>

                                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_478628539">
                                                <div class="img-inner dark">
                                                    <img width="900" height="447" src="~/wwwroot/images/img/banner-22-agian-chinh-hang.jpg" 
                                                         class="lazy-load attachment-original size-original" alt="" loading="lazy" srcset="" 
                                                         sizes="(max-width: 900px) 100vw, 900px" />
                                                </div>

                                                <style>
                                                    #image_478628539 {
                                                        width: 100%;
                                                    }
                                                </style>
                                            </div>

                                        </div>

                                        <div class="loading-spin dark large centered"></div>

                                    </div>


                                </div>
                            </div>
                            <div id="col-599040797" class="col row-phai hide-for-medium medium-3 small-12 large-3">
                                <div class="col-inner">
                                    <div class="row row-collapse row-dashed" id="row-701506943">
                                        <div id="col-1184388308" class="col medium-6 small-12 large-6">
                                            <div class="col-inner">
                                                <div class="icon-box featured-box icon-box-center text-center">
                                                    <div class="icon-box-img" style="width: 70px">
                                                        <div class="icon">
                                                            <div class="icon-inner">
                                                                <img width="70" height="70" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2070%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://lamdepz.com/wp-content/uploads/2020/12/img_quality_1.jpg" class="lazy-load attachment-medium size-medium"
                                                                     alt="" loading="lazy" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box-text last-reset">
                                                        <p><span style="font-size: 80%;">Thanh toán</span><br /><span style="font-size: 80%;">khi nhận hàng</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="col-249842997" class="col medium-6 small-12 large-6">
                                            <div class="col-inner">



                                                <div class="icon-box featured-box icon-box-center text-center">
                                                    <div class="icon-box-img" style="width: 70px">
                                                        <div class="icon">
                                                            <div class="icon-inner">
                                                                <img width="225" height="225" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20225%20225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://lamdepz.com/wp-content/uploads/2020/12/2-7.jpg" class="lazy-load attachment-medium size-medium"
                                                                     alt="" loading="lazy" srcset="" data-srcset="https://lamdepz.com/wp-content/uploads/2020/12/2-7.jpg 225w, https://lamdepz.com/wp-content/uploads/2020/12/2-7-100x100.jpg 100w, https://lamdepz.com/wp-content/uploads/2020/12/2-7-150x150.jpg 150w"
                                                                     sizes="(max-width: 225px) 100vw, 225px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box-text last-reset">

                                                        <p><span style="font-size: 80%;">Giao hàng</span><br /><span style="font-size: 80%;">dưới 120 phút</span></p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>



                                        <div id="col-1011406038" class="col medium-6 small-12 large-6">
                                            <div class="col-inner">



                                                <div class="icon-box featured-box icon-box-center text-center">
                                                    <div class="icon-box-img" style="width: 70px">
                                                        <div class="icon">
                                                            <div class="icon-inner">
                                                                <img width="225" height="225" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20225%20225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://lamdepz.com/wp-content/uploads/2020/12/1-8.jpg" class="lazy-load attachment-medium size-medium"
                                                                     alt="" loading="lazy" srcset="" data-srcset="https://lamdepz.com/wp-content/uploads/2020/12/1-8.jpg 225w, https://lamdepz.com/wp-content/uploads/2020/12/1-8-100x100.jpg 100w, https://lamdepz.com/wp-content/uploads/2020/12/1-8-150x150.jpg 150w"
                                                                     sizes="(max-width: 225px) 100vw, 225px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box-text last-reset">

                                                        <p><span style="font-size: 80%;">14 ngày đổi trả</span><br /><span style="font-size: 80%;">miễn phí</span></p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>



                                        <div id="col-561047829" class="col medium-6 small-12 large-6">
                                            <div class="col-inner">



                                                <div class="icon-box featured-box icon-box-center text-center">
                                                    <div class="icon-box-img" style="width: 70px">
                                                        <div class="icon">
                                                            <div class="icon-inner">
                                                                <img width="225" height="225" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20225%20225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="https://lamdepz.com/wp-content/uploads/2020/12/3-5.jpg" class="lazy-load attachment-medium size-medium"
                                                                     alt="" loading="lazy" srcset="" data-srcset="https://lamdepz.com/wp-content/uploads/2020/12/3-5.jpg 225w, https://lamdepz.com/wp-content/uploads/2020/12/3-5-100x100.jpg 100w, https://lamdepz.com/wp-content/uploads/2020/12/3-5-150x150.jpg 150w"
                                                                     sizes="(max-width: 225px) 100vw, 225px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box-text last-reset">

                                                        <p><span style="font-size: 80%;">Sản phẩm</span><br /><span style="font-size: 80%;">chính hãng</span></p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>



                                        <style>
                                            #row-701506943 > .col > .col-inner {
                                                background-color: rgb(255, 255, 255);
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <style>
                        #section_1326188305 {
                            padding-top: 0px;
                            padding-bottom: 0px;
                            background-color: rgb(247, 247, 247);
                        }
                    </style>
                </section>

                <section class="section" id="section_1349002936">
                    <div class="bg section-bg fill bg-fill  bg-loaded">
                    </div>
                    <div class="section-content relative">
                        <div class="row" id="row-2082886737">
                            <div id="col-1880555698" class="col div-no-padding small-12 large-12">
                                <div class="col-inner">


                                    <div class="row row-tieu-de" id="row-1218091420">

                                        <div id="col-1549349624" class="col div-tieu-de small-12 large-12">
                                            <div class="col-inner">


                                                <h3 class="title-comm"><a class="title-holder" href="#">MỸ PHẨM SON MÔI</a></h3>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" id="row-634888389">

                                        <div id="col-1034191091" class="col list-product div-no-padding small-12 large-12">
                                            <div class="col-inner">
                                                <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-simple slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                                                    @foreach (var item in Son)
                                                    {
                                                        string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP;
                                                        double giagiam = (Convert.ToDouble(@item.Gia) - Convert.ToDouble(Convert.ToInt32(@item.Gia) * (@item.GiamGia.HasValue ? @item.GiamGia.Value : 0)));
                                                        giagiam = Math.Round(giagiam / 1000) * 1000;
                                                        double giam = (item.GiamGia.HasValue ? item.GiamGia.Value : 0) * 100;
                                                        <div class="col">
                                                            <div class="col-inner">

                                                                <div class="absolute left top z-1">
                                                                    <div class="callout badge badge-circle">
                                                                        <div class="badge-inner secondary on-sale">
                                                                            <span class="onsale">-@giam%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                                    <div class="box-image">
                                                                        <div class="">
                                                                            <a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })">
                                                                                <img width="247" height="247" style="max-height:247px" src="@Url.Content(ImagePath)" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="" sizes="(max-width: 247px) 100vw, 247px" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="image-tools top right show-on-hover">
                                                                        </div>
                                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                                        </div>
                                                                    </div>

                                                                    <div class="box-text text-left">
                                                                        <div class="title-wrapper">
                                                                            <p class="name product-title woocommerce-loop-product__title"><a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.TenSP</a></p>
                                                                        </div>
                                                                        <div class="price-wrapper">
                                                                            <span class="price">
                                                                                <del>
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <bdi>@String.Format("{0:#,###}", @item.Gia)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                                                                                    </span>
                                                                                </del> <ins><span class="woocommerce-Price-amount amount"><bdi>@String.Format("{0:#,###}", @giagiam)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <style>
                        #section_1349002936 {
                            padding-top: 23px;
                            padding-bottom: 23px;
                            background-color: rgb(247, 247, 247);
                        }
                    </style>
                </section>

                <section class="section" id="section_1621298227">
                    <div class="bg section-bg fill bg-fill  bg-loaded">


                    </div>

                    <div class="section-content relative">

                        <div class="row" id="row-716974624">

                            <div id="col-1224518826" class="col div-no-padding small-12 large-12">
                                <div class="col-inner">


                                    <div class="row row-tieu-de" id="row-1040301362">

                                        <div id="col-292984479" class="col div-tieu-de small-12 large-12">
                                            <div class="col-inner">


                                                <h3 class="title-comm"><a class="title-holder" href="#">MỸ PHẨM TRANG ĐIỂM</a></h3>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" id="row-794493420">

                                        <div id="col-1814678907" class="col list-product div-no-padding small-12 large-12">
                                            <div class="col-inner">




                                                <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-simple slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>



                                                    @foreach (var item in TrangDiem)
                                                    {

                                                        string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP;
                                                        double giagiam = (Convert.ToDouble(@item.Gia) - Convert.ToDouble(@item.Gia) * (@item.GiamGia.HasValue ? @item.GiamGia.Value : 0.0));
                                                        giagiam = Math.Round(giagiam / 1000) * 1000;
                                                        double giam = (item.GiamGia.HasValue ? item.GiamGia.Value : 0) * 100;
                                                        <div class="col">
                                                            <div class="col-inner">

                                                                <div class="absolute left top z-1">
                                                                    <div class="callout badge badge-circle">
                                                                        <div class="badge-inner secondary on-sale"><span class="onsale">- @giam %</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                                    <div class="box-image">
                                                                        <div class="">
                                                                            <a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })">
                                                                                <img width="247" height="247" style="max-height:247px"  src="@Url.Content(ImagePath)" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="" sizes="(max-width: 247px) 100vw, 247px" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="image-tools top right show-on-hover">
                                                                        </div>
                                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                                        </div>
                                                                    </div>

                                                                    <div class="box-text text-left">
                                                                        <div class="title-wrapper">
                                                                            <p class="name product-title woocommerce-loop-product__title"><a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.TenSP</a></p>
                                                                        </div>
                                                                        <div class="price-wrapper">
                                                                            <span class="price">
                                                                                <del>
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <bdi>@String.Format("{0:#,###}", @item.Gia)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                                                                                    </span>
                                                                                </del> <ins><span class="woocommerce-Price-amount amount"><bdi>@String.Format("{0:#,###}", @giagiam)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <style>
                        #section_1621298227 {
                            padding-top: 0px;
                            padding-bottom: 0px;
                            background-color: rgb(247, 247, 247);
                        }
                    </style>
                </section>

                <section class="section" id="section_506742226">
                    <div class="bg section-bg fill bg-fill  bg-loaded">





                    </div>

                    <div class="section-content relative">

                        <div class="row" id="row-1438155365">

                            <div id="col-2145562401" class="col div-no-padding small-12 large-12">
                                <div class="col-inner">


                                    <div class="row row-tieu-de" id="row-26320516">

                                        <div id="col-621058188" class="col div-tieu-de small-12 large-12">
                                            <div class="col-inner">


                                                <h3 class="title-comm"><a class="title-holder" href="#">MỸ PHẨM DƯỠNG DA</a></h3>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" id="row-1601378843">

                                        <div id="col-1818147593" class="col list-product div-no-padding small-12 large-12">
                                            <div class="col-inner">




                                                <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-simple slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>


                                                    @foreach (var item in DuongDa)
                                                    {
                                                        string ImagePath = "~/wwwroot/images/SanPham/" + item.AnhSP;
                                                        double giagiam = (Convert.ToDouble(@item.Gia) - Convert.ToDouble(@item.Gia) * (@item.GiamGia.HasValue ? @item.GiamGia.Value : 0.0));
                                                        giagiam = Math.Round(giagiam / 1000) * 1000;
                                                        double giam = (item.GiamGia.HasValue ? item.GiamGia.Value : 0) * 100;
                                                        <div class="col">
                                                            <div class="col-inner">

                                                                <div class="absolute left top z-1">
                                                                    <div class="callout badge badge-circle">
                                                                        <div class="badge-inner secondary on-sale"><span class="onsale">-@giam %</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-small box has-hover box-normal box-text-bottom">
                                                                    <div class="box-image">
                                                                        <div class="">
                                                                            <a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })">
                                                                                <img width="247" height="247" style="max-height:247px"  src="@Url.Content(ImagePath)" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="" sizes="(max-width: 247px) 100vw, 247px" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="image-tools top right show-on-hover">
                                                                        </div>
                                                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                                        </div>
                                                                    </div>

                                                                    <div class="box-text text-left">
                                                                        <div class="title-wrapper">
                                                                            <p class="name product-title woocommerce-loop-product__title"><a href="@Url.Action("SanPham","SanPham", new { id = item.MaSP })" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.TenSP</a></p>
                                                                        </div>
                                                                        <div class="price-wrapper">
                                                                            <span class="price">
                                                                                <del>
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <bdi>@String.Format("{0:#,###}", @item.Gia)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                                                                                    </span>
                                                                                </del> <ins><span class="woocommerce-Price-amount amount"><bdi>@String.Format("{0:#,###}", @giagiam)<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi></span></ins>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <style>
                        #section_506742226 {
                            padding-top: 23px;
                            padding-bottom: 23px;
                            background-color: rgb(247, 247, 247);
                        }
                    </style>
                </section>

            </div>
        </div>
    </div>
</div>